.NmiddleLeft {
  float: left;
}
.UserPay {
  margin-top: 20px;
}
.NmiddleRight {
  width: 843px;
  /* height: 504px; */
  background: #fff;
  float: right;
}
.PayTop {
  height: 244px;
  width: 100%;
  margin: 0 auto;
}
.DayCard {
  flex: 1;
  cursor: pointer;
}
.YearCard {
  flex: 1;
  cursor: pointer;
}
.GreenBackGround,
.BlueBackground {
  width: 200px;
  height: 204px;
  color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.GreenBackGround {
  background: url(https://cdns.007vin.com/img/p_green.png);
}
.BlueBackground {
  background: url(https://cdns.007vin.com/img/p_blue.png);
}
.GreenBackGround .FristSpan,
.BlueBackground .FristSpan {
  font-size: 20px;
}
.GreenBackGround .SecondSpan,
.BlueBackground .SecondSpan {
  font-size: 28px;
}
.GreenBackGround .LastSpan,
.BlueBackground .LastSpan {
  font-size: 14px;
}
.IconDay,
.IconYear {
  width: 20px;
  height: 20px;
  margin: 20px auto;
  background: url(https://cdns.007vin.com/img/p_dian.png) no-repeat;
}
.CenterMsg {
  width: 802px;
  height: 169px;
  margin: 63px auto 10px;
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #666666;
}
.CenterMsg b {
  margin: 5px;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #333333;
}
.CenterMsg span {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #333333;
}
.CenterMsg ol {
  list-style-type: disc;
  width: 79px;
  margin: 10px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999999;
}
.PayBody {
  position: relative;
}
.toPayContainer {
  position: absolute;
  bottom: 13px;
  right: 34px;
  width: 160px;
}
.NeedPrice {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}
.NeedPrice > span {
  color: #FF9238;
  font-size: 28px;
}
.toNewPayContainer {
  width: 160px;
  height: 32px;
  background: #FF7300;
  border-radius: 4px;
  color: #fff;
  padding-top: 13ppx;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
.toNewPayContainer:hover {
  background: #FF9238;
}
.Nmiddlecontent {
  position: relative;
}
.UserPayment {
  /*position: absolute;
	top:0;*/
  background: #F1F1F1;
  /*left:0;*/
  width: 100%;
  height: 100%;
}
.PaymentHead {
  height: 50px;
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  color: #333333;
}
.PaymentHead > span {
  color: #FF3232;
}
.PaymentBody {
  width: 1024px;
  margin: 0 auto;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}
.PaymentBodyHead {
  height: 40px;
}
.PaymentBodyHead > div {
  background: #7ED321;
  width: 110px;
  height: 40px;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  float: left;
}
.PaymentBodyHead > span {
  float: left;
  width: 147px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #999999;
}
.PaymentBodyMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PaymentBodyMain > p {
  font-size: 14px;
  color: #333333;
}
.PaymentBodyMain > b {
  font-size: 18px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 10px;
}
.PaymentBodyMain > span {
  font-size: 14px;
  color: #333333;
}
.PaymentBodyMain > p > span {
  color: #FF3232;
}
.PaymentBodyMain > div > ol {
  list-style-type: disc;
  width: 100px;
  font-size: 14px;
  color: #999999;
}
.Dcode {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  text-align: center;
  width: 142px;
  height: 142px;
}
.Dcode > img {
  width: 140px;
  height: 140px;
}
.EndTime {
  font-size: 14px;
  color: #666666;
}
.msgModal {
  position: fixed;
  top: 0;
  z-index: 1111111;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 160px;
  height: 110px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  font-size: 14px;
}
.msgButtons {
  display: flex;
  flex: 1;
  width: 100%;
  border-top: 1px solid #fff;
  cursor: pointer;
}
.msgButtons > div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.msgButtons > div:last-child {
  border-left: 1px solid #fff;
  color: #3D7CFF;
}
.msgAlert {
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.ChoosePayContainer {
  display: flex;
}
.haveTrouble {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}
.haveTrouble span {
  color: #1AA0F3;
  cursor: pointer;
}
.trobleDrop > span > img {
  vertical-align: middle;
}
.linkClick {
  text-decoration: underline;
}
.onButton {
  display: flex;
  align-items: center;
  flex: 1;
  border-top: 1px solid #fff;
  width: 100%;
  justify-content: center;
  color: #1AA0F3;
  cursor: pointer;
}
.msgAlert p {
  text-align: center;
}
.userpay-container .userpay-title {
  padding-left: 30px;
  line-height: 60px;
  height: 60px;
  font-size: 14px;
  color: #333;
}
.container-head {
  display: flex;
  height: 40px;
  line-height: 40px;
  font-family: PingFang-SC-Regular;
  font-size: 14px;
  background: #FFFFFF;
  border-bottom: 1px solid #D8D8D8;
  color: #666666;
  padding: 0 30px;
}
.container-head {
  display: flex;
}
.container-head div {
  flex: 1;
}
.container-main {
  /* float: left; */
  display: flex;
  padding: 5px 20px;
  /* max-height: 444px; */
  overflow: auto;
}
.container-list {
  width: 50%;
  /* flex: 1; */
  margin-right: 10px;
  /* border: 1px solid #d8d8d8; */
  border-radius: 5px;
}
.container-list .footer {
  /* overflow-y:scroll; */
  overflow: auto;
  /* max-height: 400px; */
}
.container-list .container-row {
  width: 100%;
  padding: 9px 0;
  border-bottom: 1px solid #fff;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.item-container,
.item-type-container {
  display: flex;
}
.item-container .item-title,
.item-type-container .item-title {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #333;
  background: #E6E6E6;
}
.item-container .item-group,
.item-type-container .item-group {
  flex: 1;
}
.item-container .item-group .container-row,
.item-type-container .item-group .container-row {
  background: #F6F6F6;
}
.item-type-container {
  /* font-size: 14px;
    color: #666666;
    background: #fff;
    width: e('calc(100% - 12px');
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12px; */
}
/* .container-list>div:nth-child(2){
    margin-top: 20px;
} */
.container-list .active {
  background: #FFF6F2;
  border: 2px solid #FF5502;
  box-sizing: border-box;
}
.container-list .container-row > .column {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #333;
}
.container-list .container-row > .column:nth-child(1) {
  width: calc(60% - 8px);
  color: #333;
  justify-content: flex-start;
  padding-left: 8px;
}
.container-list .container-row > .column:nth-child(1) b {
  font-size: 12px;
  color: #3F3F3F;
  margin-left: 5px;
  font-weight: normal;
}
.container-list .container-row > .column:nth-child(1) > .hot {
  /* width: 46px; */
  height: 20px;
}
/* .container-list .container-row > .column:nth-child(2) {
  width: 30%;
  color: #666;
  justify-content: center;
} */
.container-list .container-row > .column:nth-child(2) {
  width: 28%;
  font-size: 14px;
  color: #ff5502;
  justify-content: flex-end;
}
.container-list .container-row > .column:nth-child(2) span {
  display: flex;
  flex-direction: column;
}
.container-list .container-row > .column:nth-child(2) span b {
  font-weight: normal;
  text-decoration: line-through;
  color: #999;
}
.container-list .container-row > .column:nth-child(3) img {
  width: 14px;
  margin: 0 12px;
}
.container-list .container-row > .column:nth-child(4) {
  width: 15%;
  color: #ff5502;
  cursor: pointer;
}
.container-list .header .container-row > .column {
  color: #666;
  font-weight: 400;
}
.container-list .footer > .container-row:last-child {
  /* border-bottom: none; */
}
.container-list .footer > .container-row > .column:nth-child(4) > span {
  padding: 2px 5px;
  border: 1px solid #ff5502;
  border-radius: 4px;
}
.container-right {
  width: 391px;
  /* display: flex; */
  flex: 1;
}
.container-right .media-title {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
}
.container-right .pay-money {
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  font-size: 14px;
  overflow: hidden;
  padding: 0 12px;
  margin-bottom: 10px;
}
.container-right .pay-money > span {
  float: left;
  line-height: 40px;
  color: #666666;
}
.container-right .pay-money .money-detail {
  color: #FF5502;
  float: right;
}
.container-right .pay-money .money-detail span {
  color: #FF5502;
}
.container-right .choose-pay {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  height: 81px;
  margin-bottom: 20px;
}
.container-right .choose-pay div {
  cursor: pointer;
  height: 40px;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
}
.container-right .choose-pay div img:first-child {
  width: 84px;
}
.container-right .choose-pay div img:last-child {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 14px;
}
.container-right .choose-pay .weixinpay {
  border-top: 1px solid #D8D8D8;
}
.media-button {
  display: block;
  margin-bottom: 70px;
}
.media-button .media-pay-button {
  background: #FF5502;
  box-shadow: 0px 0px 2px 0px rgba(255, 84, 1, 0.12), 0px 2px 2px 0px rgba(255, 84, 1, 0.24);
  border-radius: 4px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 1.55px;
  line-height: 40px;
  cursor: pointer;
}
.media-button .media-test-button {
  line-height: 40px;
  height: 40px;
  text-align: center;
  background: #FF7836;
  box-shadow: 0px 0px 2px 0px rgba(255, 84, 1, 0.12), 0px 2px 2px 0px rgba(255, 84, 1, 0.24);
  border-radius: 4px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.55px;
  cursor: pointer;
}
.container-right .pay-money-title {
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  margin-bottom: 10px;
}
.container-right .pay-money-title .buy-type-box {
  height: 40px;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
}
.container-right .pay-money-title .buy-type-box span {
  display: flex;
  align-items: center;
  padding-left: 12px;
  flex: 1;
  justify-content: flex-start;
  font-size: 14px;
  color: #333333;
}
.container-right .pay-money-title .buy-type-box span b {
  font-weight: normal;
}
.container-right .pay-money-title .brand-type-box {
  min-height: 40px;
  display: flex;
}
.container-right .pay-money-title .brand-type-box > span {
  display: flex;
  align-items: center;
  padding: 10px 0 0 12px;
  flex: 1;
  justify-content: flex-start;
  font-size: 14px;
  color: #333333;
}
.container-right .pay-money-title .brand-type-box > span b {
  font-weight: normal;
  align-self: end;
}
.container-right .pay-money-title .brand-type-box > span span {
  flex: 1;
  align-self: end;
}
.container-right .pay-money-title .brand-type-box .total-money-box {
  width: 80px;
  font-size: 14px;
  font-weight: normal;
  color: #FF5502;
  display: flex;
  align-items: center;
  padding-right: 12px;
  justify-content: flex-end;
}
.container-right .pay-code-container .big-sale-box {
  min-width: 342px;
  width: 100%;
  display: flex;
}
.container-right .pay-code-container .big-sale-box input {
  flex: 202;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #999999;
  padding-left: 8px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333333;
}
.container-right .pay-code-container .big-sale-box span {
  background: #999999;
  flex: 140;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #FFFFFF;
}
.container-right .pay-code-container .active input {
  border: 1px solid #4A90E2;
}
.container-right .pay-code-container .active span {
  background: #4A90E2;
  cursor: pointer;
}
.container-right .pay-code-container .active span:hover {
  background: #1D77E0;
}
.container-right .pay-code-container .active span:active {
  background: #135EB6;
}
.container-right .pay-code-container .big-sale-ex {
  height: 30px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  align-items: center;
}
.container-right .pay-code-container .big-sale-ex .msg-ex {
  font-size: 12px;
  color: #4A90E2;
  cursor: pointer;
}
.container-right .pay-code-container .big-sale-ex .msg-ex:hover .msg-data-hover {
  display: block;
}
.container-right .pay-code-container .big-sale-ex .msg-ex .msg-data-hover {
  display: none;
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #D8D8D8;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 72px;
  width: 164px;
  font-size: 12px;
  color: #666666;
  padding: 8px;
}
.container-right .pay-code-container .big-sale-ex .error-ex-box {
  font-size: 12px;
  color: #FF3232;
}
